* {
    margin: 0;
    padding: 0;
}
body {
    background: url(/error404/assets/img/background.jpg);
}
.center {
    text-align: center;
    color: white;
    font-size: 120px;
    height: 0px;
    margin: 200px;

}
.not {
    text-align: center;
    color: white;
    font-size: 75px;
    height: 0px;
    margin-top: 20px;
}
.github {
    text-align: center;
    color: white;
    font-size: 50px;
    height: 0px;
    margin-top: 120px;
}
a {
    color: white;
    text-decoration: none;
}
a:link {
    text-decoration: none;
}
a:hover {
    animation-name: background-color;
    animation-duration: 2000ms;
    }

    @keyframes background-color {
        100% {
        color: brown;
    }
}
